<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Auth Page{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='asset/styles.css') }}">
    <link rel="icon" href="/static/asset/favicon/favicon-32x32.png" type="image/x-icon">
</head>

<body>
    <div id="flash-messages" style="display:none;">
        {{ get_flashed_messages(with_categories=false) | tojson }}
    </div>
    <main class="auth__main">
        {% block content %}
        {% endblock %}
        </div>
    </main>
    <script type="module" src="{{ url_for('static', filename='script/script.js') }}"></script>
    <script>
        function togglePassword() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
</body>

</html>